<!-- This Plugin is created for OctoberCMS v3 by NvandenDries.nl -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% set Messages = __SELF__.item %}
{% for item in Messages %}

<div class="card mt-2">
  <div class="card-header"><strong>{{ item.subject }}</strong></div>  
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-body-secondary">{{ item.created_at }}</h6>
    <p class="card-text">
      <strong>Bericht:</strong><br>{{ item.message }}
    </p>
  </div>
</div>

{% endfor %}
<script>
  function markAsRead(message_id) {
    $.request('onMarkAsRead', {
        data: {
            message_id: message_id,
        },
        update: {'#messages': '#messages'},
        complete: function() {
            // optioneel: voeg extra acties toe nadat het bericht als gelezen is gemarkeerd
        },
    });
}

</script>

{{ dump() }}
